{
  "openapi": "3.1.2",
  "info": {
    "title": "pgko.dev",
    "description": "### Authentication\n\nPublic reads are anonymous. Account and bundle management use the `site-session` cookie returned by login or registration.\n\nBefore a POST, PUT, PATCH, or DELETE (including login), GET `/api/config` with a cookie jar. Preserve the returned cookies and send the `x-csrf-token` response header as a request header. On `api.error.auth.csrfInvalid`, refresh them before retrying.\n\n### Errors\n\nErrors use stable machine-readable codes plus translation keys, for example `{ \"code\": \"unauthorized\", \"message\": \"api.error.auth.unauthorized\" }`. Validation errors also include field paths in errors. X-Request-Id correlates requests with server logs.",
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://pgko.dev",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "site-session"
      },
      "csrfCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-site-csrf-v2"
      },
      "csrfHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-csrf-token"
      }
    }
  },
  "paths": {
    "/api/config": {
      "get": {
        "tags": [
          "General"
        ],
        "description": "Public server configuration.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "branch": {
                      "enum": [
                        "production",
                        "development",
                        "test"
                      ],
                      "type": "string"
                    },
                    "version": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "branch"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "operationId": "getConfig",
        "security": [
          {}
        ]
      }
    },
    "/api/user/": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "List users who have released bundles (creators directory).",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "bio": {
                            "type": "string"
                          },
                          "avatarUrl": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "bundlesCount": {
                            "type": "number"
                          },
                          "createdAt": {
                            "type": "string"
                          },
                          "lastActivityAt": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "slug",
                          "bio",
                          "avatarUrl",
                          "bundlesCount",
                          "createdAt",
                          "lastActivityAt"
                        ]
                      }
                    },
                    "nextCursor": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "items",
                    "nextCursor"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "invalidCursor"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.invalidCursor"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "const": "validationFailed"
                    },
                    "message": {
                      "const": "api.error.unknown"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "errors"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              ],
              "description": "Search creator names and slugs. Terms shorter than two characters are ignored; repeated q values are joined with spaces."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "activity",
                "bundles",
                "name"
              ],
              "type": "string",
              "description": "activity: latest bundle activity; bundles: released bundle count; name: creator name. Defaults to activity."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string",
              "description": "Sort direction; defaults to asc for name and desc otherwise."
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Use nextCursor from the previous response with the same search and sort order. Omit for the first page; null nextCursor means there are no more results."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "number"
                }
              ],
              "description": "Maximum results per page, from 1 to 50; defaults to 24."
            }
          }
        ],
        "operationId": "listUsers",
        "security": [
          {}
        ]
      }
    },
    "/api/user/{jointId}": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Get public user profile by slug or user ID (UUID).",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "bio": {
                          "type": "string"
                        },
                        "avatarUrl": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "bundlesCount": {
                          "type": "number"
                        },
                        "createdAt": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "slug",
                        "bio",
                        "avatarUrl",
                        "bundlesCount",
                        "createdAt"
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "userNotFound"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.user.notFound"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "const": "validationFailed"
                    },
                    "message": {
                      "const": "api.error.unknown"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "errors"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "jointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 36,
              "description": "User slug or UUID."
            }
          }
        ],
        "operationId": "getUser",
        "security": [
          {}
        ]
      }
    },
    "/api/user/{jointId}/available": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Check if a user slug is available for registration.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "slug": {
                      "type": "string"
                    },
                    "available": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "slug",
                    "available"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unauthorized"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.unauthorized"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "const": "validationFailed"
                    },
                    "message": {
                      "const": "api.error.unknown"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "errors"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "jointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 3,
              "maxLength": 18,
              "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$",
              "description": "Candidate user slug; UUIDs are not accepted here."
            }
          }
        ],
        "operationId": "checkUserSlug",
        "security": [
          {
            "sessionCookie": []
          }
        ]
      }
    },
    "/api/auth/register/": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "Register a new user and sign in (sets session cookie).",
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "bio": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "avatarUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "slug",
                            "bio",
                            "email",
                            "role",
                            "avatarUrl"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "invalidCredentials"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.invalidCredentials"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "csrfInvalid"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.csrfInvalid"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "emailAlreadyInUse"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.emailAlreadyInUse"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "const": "validationFailed"
                    },
                    "message": {
                      "const": "api.error.unknown"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "errors"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "tooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.tooManyRequests"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^(?!.*[,\\uFF0C\\u060C]).*$"
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 128,
                    "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).*$"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "password"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^(?!.*[,\\uFF0C\\u060C]).*$"
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 128,
                    "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).*$"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "password"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^(?!.*[,\\uFF0C\\u060C]).*$"
                  },
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 128,
                    "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).*$"
                  }
                },
                "required": [
                  "name",
                  "email",
                  "password"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            }
          }
        },
        "operationId": "register",
        "security": [
          {
            "csrfCookie": [],
            "csrfHeader": []
          }
        ]
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "Sign in with email and password (sets session cookie).",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "bio": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "avatarUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "slug",
                            "bio",
                            "email",
                            "role",
                            "avatarUrl"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "invalidCredentials"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.invalidCredentials"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "csrfInvalid"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.csrfInvalid"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "const": "validationFailed"
                    },
                    "message": {
                      "const": "api.error.unknown"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "errors"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "tooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.tooManyRequests"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "email",
                  "password"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "email",
                  "password"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                },
                "required": [
                  "email",
                  "password"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            }
          }
        },
        "operationId": "login",
        "security": [
          {
            "csrfCookie": [],
            "csrfHeader": []
          }
        ]
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "Sign out and clear session cookie.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unauthorized"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.unauthorized"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "csrfInvalid"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.csrfInvalid"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "tooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.tooManyRequests"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "operationId": "logout",
        "security": [
          {
            "sessionCookie": [],
            "csrfCookie": [],
            "csrfHeader": []
          }
        ]
      }
    },
    "/api/auth/reset/password": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "Request a password reset OTP for the given email address.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "csrfInvalid"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.csrfInvalid"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "const": "validationFailed"
                    },
                    "message": {
                      "const": "api.error.unknown"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "errors"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "tooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.tooManyRequests"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  }
                },
                "required": [
                  "email"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  }
                },
                "required": [
                  "email"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  }
                },
                "required": [
                  "email"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            }
          }
        },
        "operationId": "requestPasswordReset",
        "security": [
          {
            "csrfCookie": [],
            "csrfHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "Authentication"
        ],
        "description": "Reset password using the OTP sent to the user's email.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "invalidOrExpiredOtp"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.resetPassword.invalidOrExpiredOtp"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "csrfInvalid"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.csrfInvalid"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "const": "validationFailed"
                    },
                    "message": {
                      "const": "api.error.unknown"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "errors"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "tooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.tooManyRequests"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  },
                  "otp": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 6,
                    "description": "One-time code received from the password reset email."
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 128,
                    "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).*$",
                    "description": "New account password."
                  }
                },
                "required": [
                  "email",
                  "otp",
                  "password"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  },
                  "otp": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 6,
                    "description": "One-time code received from the password reset email."
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 128,
                    "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).*$",
                    "description": "New account password."
                  }
                },
                "required": [
                  "email",
                  "otp",
                  "password"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "minLength": 1,
                    "format": "email",
                    "maxLength": 254
                  },
                  "otp": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 6,
                    "description": "One-time code received from the password reset email."
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 128,
                    "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).*$",
                    "description": "New account password."
                  }
                },
                "required": [
                  "email",
                  "otp",
                  "password"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            }
          }
        },
        "operationId": "resetPassword",
        "security": [
          {
            "csrfCookie": [],
            "csrfHeader": []
          }
        ]
      }
    },
    "/api/auth/me/": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "description": "Get the current authenticated user or null if not authenticated.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "bio": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "avatarUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "slug",
                            "bio",
                            "email",
                            "role",
                            "avatarUrl"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "operationId": "getCurrentUser",
        "security": [
          {},
          {
            "sessionCookie": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Authentication"
        ],
        "description": "Update the current user's profile.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "bio": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "avatarUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "slug",
                            "bio",
                            "email",
                            "role",
                            "avatarUrl"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "invalidSlug",
                        "noFieldsToUpdate"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.user.invalidSlug",
                        "api.error.user.noFieldsToUpdate"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unauthorized"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.unauthorized"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "csrfInvalid"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.csrfInvalid"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "409": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "slugAlreadyInUse"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.slugAlreadyInUse"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "const": "validationFailed"
                    },
                    "message": {
                      "const": "api.error.unknown"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "errors"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "tooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.tooManyRequests"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^(?!.*[,\\uFF0C\\u060C]).*$"
                  },
                  "bio": {
                    "type": "string",
                    "maxLength": 512
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 18,
                    "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$",
                    "description": "Public profile slug; must be unique. Omit to keep the current slug."
                  }
                },
                "required": [],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^(?!.*[,\\uFF0C\\u060C]).*$"
                  },
                  "bio": {
                    "type": "string",
                    "maxLength": 512
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 18,
                    "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$",
                    "description": "Public profile slug; must be unique. Omit to keep the current slug."
                  }
                },
                "required": [],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 30,
                    "pattern": "^(?!.*[,\\uFF0C\\u060C]).*$"
                  },
                  "bio": {
                    "type": "string",
                    "maxLength": 512
                  },
                  "slug": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 18,
                    "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$",
                    "description": "Public profile slug; must be unique. Omit to keep the current slug."
                  }
                },
                "required": [],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            }
          }
        },
        "operationId": "updateCurrentUser",
        "security": [
          {
            "sessionCookie": [],
            "csrfCookie": [],
            "csrfHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Authentication"
        ],
        "description": "Delete the current user's account and clear cookies.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unauthorized"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.unauthorized"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "csrfInvalid"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.csrfInvalid"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "tooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.tooManyRequests"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "operationId": "deleteCurrentUser",
        "security": [
          {
            "sessionCookie": [],
            "csrfCookie": [],
            "csrfHeader": []
          }
        ]
      }
    },
    "/api/auth/me/avatar": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "description": "Upload the current user's avatar image.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "bio": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "avatarUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "slug",
                            "bio",
                            "email",
                            "role",
                            "avatarUrl"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "imageProcessingFailed"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.upload.convert.processingFailed"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unauthorized"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.unauthorized"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "csrfInvalid"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.csrfInvalid"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "userNotFound"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.user.notFound"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "422": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "const": "validationFailed"
                    },
                    "message": {
                      "const": "api.error.unknown"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "message"
                        ]
                      }
                    }
                  },
                  "required": [
                    "code",
                    "message",
                    "errors"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "tooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.tooManyRequests"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "userUpdateFailed",
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.user.updateFailed",
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "avatar": {
                    "type": "string",
                    "format": "binary",
                    "description": "Avatar image (image/png, image/jpeg, image/webp); maximum 10485760 bytes."
                  }
                },
                "required": [
                  "avatar"
                ],
                "$schema": "https://json-schema.org/draft/2020-12/schema"
              }
            }
          },
          "required": true
        },
        "operationId": "uploadAvatar",
        "security": [
          {
            "sessionCookie": [],
            "csrfCookie": [],
            "csrfHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Authentication"
        ],
        "description": "Remove the current user's avatar.",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "bio": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "avatarUrl": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "slug",
                            "bio",
                            "email",
                            "role",
                            "avatarUrl"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "user"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "401": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "unauthorized"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.unauthorized"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "csrfInvalid"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.auth.csrfInvalid"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "userNotFound"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.user.notFound"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "429": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "tooManyRequests"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.tooManyRequests"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          },
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": [
                        "userUpdateFailed",
                        "unknown"
                      ],
                      "type": "string"
                    },
                    "message": {
                      "enum": [
                        "api.error.user.updateFailed",
                        "api.error.unknown"
                      ],
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ],
                  "$schema": "https://json-schema.org/draft/2020-12/schema"
                }
              }
            }
          }
        },
        "operationId": "deleteAvatar",
        "security": [
          {
            "sessionCookie": [],
            "csrfCookie": [],
            "csrfHeader": []
          }
        ]
      }
    },
    "/api/bundles/": {
      "get": {
        "tags": [
          "Bundles"
        ],
[...]
